@font-face {
  src: url("/fonts/Poppins-Regular.ttf") format("ttf");
  font-family: Poppins, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
